<!-- Main Page 
    Title of Currency Converter
    Small greeting
    Button that goes to the currency converter-->
<br><br><br><br><br><br>
  <ion-toolbar>
    <ion-title size="large"  text="large" class="ion-text-center">
      Currency Converter
    </ion-title>
  </ion-toolbar>
<ion-content [fullscreen]="true" class="ion-justify-content-evenly" class="ion-text-center ion-padding">
  <ion-grid>
    <h1>Welcome</h1>
  </ion-grid>
  <br><br><br>
  <ion-grid>
    <h3>Get the latest currency conversions in realtime on the go</h3>
  </ion-grid>
  <br><br><br>
  <ion-button expand="block" color="secondary" size="large" 
  (click)="nextPage()">Tap Here to Start</ion-button>
</ion-content>

